<div id="search-div">
    <mat-form-field>
      <mat-label>Filtre</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" />
      <span class="material-icons" mat-button matSuffix mat-icon-button>
        search
      </span>
    </mat-form-field>
  </div>
  
  <mat-card id="main-card"  class="mat-elevation-z0">
    <mat-card-content id="card-container">
      <mat-card *ngFor="let ETUDIANT of obs | async" class="card">
          <mat-card-header class="header-card">
            <mat-card-title>{{ETUDIANT.nom}} {{ETUDIANT.prenom}}</mat-card-title>
            <mat-card-subtitle><b>Username:</b> {{ETUDIANT.username}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image style="height: 230px;" src={{ETUDIANT.image}}>
          <mat-card-content class="card-data">
            <p><b>Cin:</b> {{ETUDIANT.cin}}</p>
            <p><b>Tel:</b> {{ETUDIANT.telephone}}</p>
            <p style=" word-break: break-all"><b>Email:</b> {{ETUDIANT.email}}</p>
            <p><b>Adresse:</b> {{ETUDIANT.adresse}}</p>
          </mat-card-content>
        </mat-card>
      </mat-card-content>
      
      <mat-card-footer id="main-card-footer">
        <mat-paginator 
                [pageSize]="5"
                [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
      </mat-card-footer>
  </mat-card>
  
