.support-container {
  width: 90%;
  margin: 10px auto;
  font-size: 1.2em;
  background-color: #222f3e;
  color: white;
}

#support-container {
  background-color: white;
  color: black;
}

.card-seance {
  display: flex;
  justify-content: space-around;
  font-size: 1.2em;
  flex-wrap: wrap;
}
.card-seance div {
  padding: 10px;
  min-width: 300px;
}

#add-button {
  width: 200px;
  font-size: 1.2em;
  padding: auto 10px;
  border-radius: 5px;
}

#add-button:enabled {
  background-color: #222f3e;
  color: white;
}

#div-btn {
  width: 40%;
  display: flex;
  justify-content: center;
}
.new-card-support {
  display: flex;
  justify-content: space-between;
}

#support-upload {
  width: 100%;
}

#support-upload mat-form-field {
  width: 80%;
  text-align: center;
}

.card-supports {
  font-size: 1.2em;
}

.card-supports div {
  padding: 15px;
}

.example-spacer {
  flex: 1 1 auto;
}

.card-comments mat-card mat-card-content {
  font-size: 1.2em;
  display: flex;
  width: 100%;
}
.card-comments mat-card {
  margin-bottom: 10px;
}
