.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
  background-color: #222f3e;
}

.menu-panel {
  border-radius: 0%;
  background-color: #222f3e;
}

.menu-panel a {
  color: #c3ffff;
  font-size: 1.5em;
}

.menu-panel mat-expansion-panel-header {
  padding: 0;
  height: 467px;
}

.menu-panel mat-expansion-panel-header:hover {
  background-color: rgb(7, 25, 41);
}

.menu-panel mat-expansion-panel-header a {
  color: #ffffff;
  font-size: 1.5em;
  background-color: inherit;
  user-select: none;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

img {
  width: 25px;
  margin-right: 10px;
}

#logo {
  background-color: #ffffff;
}

#logo a {
  text-align: center;
  font-size: 1.2em;
  color: #222f3e;
}

#logo a img {
  width: 60px;
}

#navbar {
  background-color: #222f3e;
  color: #ffffff;
}

a {
  text-decoration: none;
  padding-left: 5px;
  user-select: none;
}

a:hover {
  color: inherit;
}

/* #page-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33px;
  background-color: #222f3e;
  color: #fff;
  position: relative;
  width: 100%;
} */
#etudiant {
  padding: 0;
  height: 200px;
}

#etudiant:hover {
  background-color: #0d2d47;
}

#etudiant a {
  color: #ffffff;
  font-size: 1.5em;
  background-color: inherit;
  user-select: none;
}

mat-sidenav-content {
  background-color: white;
}

* {
  caret-color: transparent;
}

input {
  caret-color: auto;
}
